@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Inter:wght@300;400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');
/*
     Assignment 1
     Written by: Your Name (6205857)
     For “Internet Programming” Section 00001 – Fall 2023
*/

/* global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--secon-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--hover-color);
    border-radius: 5rem;
}

/* CSS Variables for easy theming */
:root {
    --text-color: #f5f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg: #292333;
    --bgs-color: rgb(26, 25, 25);
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --neon-box-shadow: 0 0 10px rgba(18, 247, 255, 0.3);
    --h2-font: 3rem;
}

/* Base body styles */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bgs-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* homepage css */

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    justify-content: space-between;
    max-width: 2024px;
    width: 100%;
    padding: 15px 10%;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Ensures header background is visible after scrolling */
header {
    background-color: #000;
}

/* Logo styles with gradient and animations */
.logo {
    display: flex;
    letter-spacing: 1px;
    background: linear-gradient(120deg, #12f7ff, #9c1de7, #ff6fcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideAnimation 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
    opacity: 0;
    font-size: 17px;
    cursor: pointer;
}

/* Navigation list styles */
.navlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/* Navigation link styles with hover effects */
.navlist a {
    margin-right: 15px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 17px;
    background: linear-gradient(120deg, #12f7ff, #9c1de7, #ff6fcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s ease-in-out infinite;
    animation: slideAnimation 1s ease forwards;
    animation-delay: calc(.5s * var(--i));
    opacity: 0;
}

.navlist a:hover {
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
        0 0 20px rgba(18, 247, 255, 0.6),
        0 0 30px rgba(18, 247, 255, 0.6),
        0 0 40px rgba(18, 247, 255, 0.6),
        0 0 50px rgba(18, 247, 255, 0.6),
        0 0 60px rgba(18, 247, 255, 0.6),
        0 0 70px rgba(18, 247, 255, 0.6),
        0 0 80px rgba(18, 247, 255, 0.6),
        0 0 90px rgba(18, 247, 255, 0.6),
        0 0 100px rgba(18, 247, 255, 0.6),
        0 0 150px rgba(18, 247, 255, 0.6);
}

/* Section padding */
section {
    padding: 50px 10%;
}

/* Personal info section styles */
#personal-info {
    min-height: 60vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
    margin-top: 50px;
}

/* Image container styles */
.personal-info-desc {
    font-weight: normal;
}

/* Personal info content styles */
.logo h1 {
    font-weight: bolder;
}

/* Text styles within personal info content */
.img-container img {
    border-radius: 50px;
    margin-top: 50px;
}

.personal-info-content {
    max-width: 6500px;
}

.personal-info-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

.personal-info-text {
    font-size: var(--norma-font);
    font-weight: 600;
    font-style: italic;
}


.personal-inf-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.personal-info-content p {
    color: var(--hover-color);
    line-height: 1.6;
}

.personal-info-content p:hover {
    background: linear-gradient(120deg, #12f7ff, #9c1de7, #ff6fcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s ease-in-out infinite;
    transition: 0.4s ease;
    cursor: default;
}

/* Info box styles for displaying personal info */
.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 2rem;
}

.info-box h5 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 5.8rem;
    background: linear-gradient(120deg, #12f7ff, #9c1de7, #ff6fcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 5s ease-in-out infinite;
}

.info-box span {
    font-size: 0.9rem;
    color: var(--hover-color);
    margin-right: 30px;
    font-size: 13.5px;
    position: relative;
    transition: color 0.3s ease;
}

.info-box a {
    color: var(--hover-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.info-box a:hover {
    text-decoration: underline;
}

.info-box span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: var(--hover-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.info-box span:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


/* Button box styles */
.btn-box,
.btn-boxs {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

/* Styles for individual buttons */
.btn-box .btn,
.btn-boxs .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bgs-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btn:hover {
    color: var(--hover-color);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bgs-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover::before {
    width: 100%;
}

.btn:nth-child(2) {
    background: var(--bgs-color);
    color: var(--hover-color);
}

.btn:nth-child(2):hover {
    color: var(--bgs-color);
}

.btn:nth-child(2)::before {
    background: var(--hover-color);
}

/* hobby section page css */
#hobbies {
    margin-bottom: 30px;
}

/* Styles for the image row in hobbies section  in homepage, hobby page and gallery */
.img-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.img-row img {
    width: 100%;
    margin: 15px;
    max-width: 400px;
    height: 350px;
    border-radius: 15px;
}

/* Container styles for each hobby */
.hobby-conatiner {
    text-align: center;
    margin-top: 50px;
}

.hobby-conatiner h2 {
    font-size: 34px;
}

.hobby-conatiner p {
    font-size: 17px;
    margin-bottom: 30px;
}

.hobby-conatiner a {
    color: #12f7ff;
}

.hobby-conatiner a:hover {
    text-decoration: underline;
}

.hobby-conatiner a:active {
    color: #fff;
}

/* Styles for the image container within the hobbies */
.img-contain {
    cursor: pointer;
}

.img-contain p {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.img-contain p:hover {
    text-decoration: underline;
    color: #12f7ff;
}

.img-contain img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    animation: rainbowRave 3s linear infinite;
}

/* fav links css */
/* Styles for favorite links section */
#favorite-links {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: 82%;
    margin: auto;
}

#favorite-links p {
    margin-left: 15px;
    color: #aaa;
}

#favorite-links h2 {
    color: #4CAF50;
    /* Gives the title a greenish hue */
    border-bottom: 3px solid #4CAF50;
    /* Matches the underline with the text color */
    display: block;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 1.5em;
}

#favorite-links li {
    list-style: none;
    background-color: #333;
    /* Gives a darker background to each list item */
    padding: 10px;
    border-radius: 5px;
    /* Rounds the corners of the list item backgrounds */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

#favorite-links a {
    display: block;
    padding: 10px;
    color: #ddd;
    text-decoration: none;
    width: 100%;
    /* Ensure the link takes up the full width */
    box-sizing: border-box;
    /* Include padding in the width */
}

#favorite-links a:hover {
    color: #4CAF50;
    /* Changes link color on hover/focus for interactivity */
    text-decoration: underline;
    /* Adds underline on hover/focus for clarity */
}

#favorite-links li:hover {
    background-color: #444;
    /* Darkens the list item on hover for a subtle effect */
}

/* fav quotes css */
#quote h2 {
    color: #aaa;
    border-bottom: 2px solid #444;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* Styles for blockquotes in favorite quotes section */
blockquote {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    margin: 20px 0;
    position: relative;
    line-height: 1.6;
    color: #aaa;
    margin-left: 20px;
}

/* fav artist css */
/* Styles for the list of artists */
.artist-list {
    margin-top: 20px;
    padding-left: 0;
    list-style-position: inside;
    list-style-type: disc;
    font-family: 'Arial', sans-serif;
    color: #aaa;
}

.artist-list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
}

#top-ten-list h2 {
    color: #aaa;
    border-bottom: 2px solid #444;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.artist-list li:hover {
    cursor: pointer;
}

/* image gallery */
/* Gallery styles */
#gallerys h2 {
    color: #aaa;
    border-bottom: 2px solid #444;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.gallery-text {
    color: #aaa;
    margin-left: 10px;
}

.gallery-text a {
    color: #12f7ff;
}


/* footer */
/* Footer styles */
footer {
    padding: 1.5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000;
}

footer small {
    font-size: 18px;
    color: #fff;
}

footer a {
    font-size: 17px;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    color: #12f7ff;
}

.fa-arrow-up {
    color: #000;
    /* Icon color */
    background-color: #12f7ff;
    /* Background color */
    width: 30px;
    /* Width of the icon container */
    height: 30px;
    /* Height of the icon container */
    font-size: 20px;
    /* Size of the icon itself */
    border-radius: 5px;
    /* Rounded corners (half of width/height for circle) */
    padding: 6px;
    /* Optional padding around the icon */
}

.fa-arrow-up:hover {
    background-color: #fff;
}

.fa-arrow-up:active {
    animation: rainbowRave 3s linear infinite;
}

/* my hobbies.html page css */
#hobby {
    padding: 140px 10%;
}

#hobby h1 {
    color: var(--hover-color);
    font-size: 30px;
    margin-bottom: 1rem;
    display: inline-block;
    border-bottom: 2px solid #12f7ff;
}

#hobby p {
    margin-bottom: 2rem;
    color: #aaa;
    margin-left: 30px;
    font-size: 17px;
}

#hobby p:active {
    color: #fff;
}

/* my image gallery html page */
.image-gallery-footer {
    width: 100%;
}

#gallery {
    padding: 140px 10%;
}

.gallery-h2 {
    display: inline-block;
    border-bottom: 2px solid #12f7ff;
    color: #12f7ff;
}

#gallery p {
    margin-top: 20px;
    margin-left: 15px;

    color: #aaa;
}

#gallery p:active {
    color: #fff;
}  

/* media query for responsiveness on smaller screens*/
@media screen and (max-width: 1300px) {
    .img-container {
        display: none;
    }

    #personal-info {
        padding: 60px 10%;
        display: flex;
    }
}

@media screen and (max-width: 828px) {

    /* Adjusts the base layout and typography for smaller screens */
    body,
    section,
    .personal-info-content,
    .info-box,
    .btn-box,
    .btn-boxs,
    .navlist,
    header {
        padding: 5%;
        /* Reduces padding */
    }
    

    #personal-info {
        padding: 180px 0;
    }

    /* Ensures images are fully responsive */
    img,
    .img-contain img {
        max-width: 100%;
        height: auto;
        margin: auto;
        margin-top: 20px;
    }

    .img-contain img:hover {
        transform: scale(1);
    }


    /* Adjusts navigation for smaller screens */
    .navlist {
        flex-direction: column;
        align-items: center;
        display: block;
    }

    .logo h1 {
        font-size: 24px;
    }

    .navlist a {
        margin: 5px 0;
        /* Adds space between nav items */
        font-size: 18px;
        /* Adjusts font size for better readability */
    }

    /* Header layout adjustment */
    header {
        flex-direction: column;
    }

    /* Content and buttons adjustment */
    .personal-info-content,
    .info-box,
    .btn-box,
    .btn-boxs {
        display: block;
        /* Stacks elements vertically */
        width: 100%;
        /* Uses full available width */
    }

    .btn,
    .info-box a,
    footer a {
        padding: 20px;
        /* Increases padding for easier interaction */
        margin: 10px 0;
        /* Adds more space around interactive elements */
    }

    /* Adjusts font sizes for readability */
    h1,
    h2,
    h3,
    p {
        font-size: 14px;
        /* Decreases font size for text elements */
    }

    /* Adjusts sections and containers for a single-column layout */
    #personal-info,
    .img-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        border-top: 1px solid #000;
        width: 100%;
        background-color: #1a1a1a;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    footer small {
        margin-top: 20px;
    }
}


/* Animation keyframes */
@keyframes rainbowRave {
    0% {
        box-shadow: 2px 5px 25px #FF0000;
    }

    /* Red */
    17% {
        box-shadow: 2px 5px 25px #FFA500;
    }

    /* Orange */
    34% {
        box-shadow: 2px 5px 25px #FFFF00;
    }

    /* Yellow */
    51% {
        box-shadow: 2px 5px 25px #008000;
    }

    /* Green */
    68% {
        box-shadow: 2px 5px 25px #0000FF;
    }

    /* Blue */
    85% {
        box-shadow: 2px 5px 25px #4B0082;
    }

    /* Indigo */
    100% {
        box-shadow: 2px 5px 25px #EE82EE;
    }

    /* Violet */
}

/* Other keyframes animations... */
@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    80% {
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes firebase {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes glow {
    0% {
        background-color: var(--bg-color);
        box-shadow: none;
    }

    100% {
        background: var(--hover-color);

        box-shadow: var(--neon-box-shadow);
    }
}


@keyframes dropdown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}